@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root{
    --black: #171A21;
    --blue: #282FD9;
    --gray: #717171;
    --green: #22DF7A;
    --red: #FF5454;
    --yellow: #FFEB36;
    --orange: #FFAD0F;
    --purple: #B133FF;
    --lightBlue: #45A6FF;
    --titleFont: 'Roboto', sans-serif;
    --bodyFont: 'OpenSans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: var(--titleFont);
    overflow-x: hidden;
}

.nav-footer{
    position: fixed;
    left: 0 !important;
}

.container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    height: 90%;
    align-items: center;
}

i{
    width: 23px;
    height: 23px;
}

i img{
    width: 100%;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
}

.cowListContainer{
    margin-top: 13px;
}

.menuHeader, 
.showBtnContainer,
.filterContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.menuHeader,
.filterContainer{
    justify-content: space-between;
    align-items: center;
}

.menuHeader{
    position: sticky;
    top: 0;
    padding: 43px 10%;
    background-color: white;
}

.menuHeader{
    position: -webkit-sticky;
}

.hiddenMenuBtn img,
.searchIcon img{
    width: 33px;
}

.hiddenMenu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 103px 13px 33px 13px;
    width: 70%;
    height: 100%;

    background-color: white;
    transition: 0.5s transform ease-out;
    transform: translateX(-100%);
    z-index: 11;
}

.hiddenMenu .closeMenuBtn{
    position: absolute;
    top: 33px;
    right: 33px;
}

.hiddenMenu .closeMenuBtn img{
    width: 30px;
}

.hiddenMenu ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 53px;
    padding: 33px 0;
    list-style: none;
}

.hiddenMenu ul li a{
    display: flex;
    gap: 23px;
    align-items: center;

    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}

.hiddenMenu ul li a i img{
    width: 30px;
}

.hiddenMenu .exitBtn{
    display: flex;
    justify-content: start;
    gap: 13px;
    align-items: center;
    padding: 23px 33px;
    width: 80%;

    border-radius: 33px;
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 700;
    background: #ff545433;
    text-decoration: none;
}

.showMenu{
    transform: translateX(0);
}

.showBtnContainer{
    gap: 13px;
}

.showBtnContainer button.showBtnMarked{
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    color: white;
    background-color: var(--blue);
}

.showBtnContainer button{
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: var(--gray);
    background-color: transparent;
}

main{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}

main .filterContainer h1{
    font-size: 1rem;
    color: var(--black);
}

main .listContainer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    margin-bottom: 13vh;
    width: 100%;
}

main .listContainer .cowItem{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    padding: 13px;
    width: 100%;
    
    border-radius: 10px;
    border-bottom: 11px solid var(--gray);
    font-size: .7rem;
    text-decoration: none;
    color: var(--black);
    background-color: white;
    box-shadow: 0px 4px 13px rgba(0, 98, 119, 0.1);
}

.cowItem figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border-radius: 13px;
    background-color: var(--gray);
}

.cowItem  .cowDescContainer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 3px;
}

.cowItem .cowDescContainer header{
    display: flex;
    justify-content: start;
    gap: 13px
}

.cowItem .cowDescContainer h1{
    font-weight: 700;
    font-size: 1rem;
}

.cowItem .cowDescContainer h1.nameTxt{
    font-weight: 400;
}

.cowItem .cowDescContainer .dataContainer,
.cowItem .cowDescContainer .dataContainer .treatSttsBox{
    display: flex;
    justify-content: start;
    align-items: center;
}

.cowItem .cowDescContainer .dataContainer{
    gap: 13px;
}

.cowItem .cowDescContainer .dataContainer .treatSttsBox{
    gap: 5px;
}

.dataContainer .treatSttsBox .sttsColor{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--gray);
}

/*--- editProfile.html ------------*/
.editProfileContainer{
    gap: 53px;
    align-items: start;
    padding: 33px 0;
}

.headerTxtBox h1{
    margin-bottom: 3px;
    font-size: 1.7rem;
}

.headerTxtBox p{
    font-size: .8rem;
}

.inputBox,
.passBox{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

.inputBox label,
.passBox label{
    display: flex;
    gap: 13px;
    align-items: center;
}

.inputBox label{
    font-size: .9rem;
    font-weight: 700;
    color: var(--gray);
}

.passBox label{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--black);
}

.inputBox .dataInput{
    border: none;
    border-bottom: 1px solid var(--blue);
    outline: none;
}

.passBox input{
    padding: 7px;
    border: 2px solid var(--blue);
    border-radius: 7px;
}

.updateBtn{
    padding: 23px;
    margin-top: 23px;
    width: 100%;
    font-family: var(--titleFont);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 9px;
    background-color: var(--blue);
}

/*--- cowDetails.html ------------*/
/*--- chart.js graphic --*/
.chart-container {
    position: relative;
    width: 60px;
    height: fit-content;
    margin: 0 auto;
}

.percent{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);

    color: var(--black);
    font-family: var(--titleFont);
    font-size: .9rem;
    font-weight: 800;
    z-index: 10;
}

.cowContainer{
    gap: 53px;
    align-items: start;
    padding: 33px 0;
    width: 83%;
}

.cowContainer .cowProfile{
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
}

.cowContainer .cowProfile .cowHeader{
    display: flex;
    gap: 23px;
    width: 100%;
}

.cowContainer .cowProfile .cowHeader figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border: 3px solid var(--blue);
    border-radius: 50%;
    background-color: var(--gray);
    overflow: hidden;
}

.cowHeader .proData{
    width: 70%;
}

.cowHeader .proData h1{
    margin-bottom: 7px;
    font-size: 1.4rem;
    color: var(--black);
}

.cowHeader .proData input{
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.cowHeader .proData input:focus{
    outline: none;
    border-bottom: 1.5px solid var(--blue);
}

.cowProfile .treatContainer{
    display: flex;
    justify-content: space-between;
}

.cowProfile .treatContainer h2{
    font-size: .9rem;
}

.cowProfile .treatContainer select{
    width: 83px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 13px rgba(0, 97, 119, 0.066);
}

.updatedContainer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 23px;
}

.updatedContainer .headerUpdated{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updatedContainer .headerUpdated h1{
    font-size: 1rem;
    color: var(--black);
}

.updatedContainer .headerUpdated span{
    font-size: .9rem;
    color: var(--gray);
}

.updatedContainer .resultContainer{
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: center;
    width: 100%;
}

.resultContainer .resultBox{
    display: flex;
}

.resultBox span{
    font-size: .9rem;
    font-weight: 700;
    color: var(--yellow);
}

.updatedContainer .descContainer{
    display: flex;
    gap: 13px;
    color: var(--black);
}

.updatedContainer .descContainer figure{
    width: 53px;
    height: 53px;
    border-radius: 5px;
    background-color: var(--gray);
}

.descContainer .descTxtBox{
    width: 70%;
}

.resultBox .resultTxt h1,
.descContainer .descTxtBox h1{
    font-size: .9rem;
}

.resultBox .resultTxt p,
.descContainer .descTxtBox p{
    font-size: .63rem;
}

.newAnaliFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 13px;
    width: 100%;

    background-color: white;
    box-shadow: 0px -4px 21px rgba(0, 97, 119, 0.068);
    border-radius: 20px 20px 0px 0px;
    z-index: 11;
}

.newAnaliFooter .newAnaliBtn{
    display: flex;
    justify-content: center;
    gap: 13px;
    align-items: center;
    padding: 7px;
    width: 100%;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: var(--blue);
}

/* processScreen.html */
.processContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/boi-bg.svg') no-repeat center;
}

.camGrid{
    width: 83%;
    transition: all 3s ease-out;
}

.camGrid img{
    width: 100%;
}

.processContainer,
.photoImg,
.progressContent{
    transition: 3s ease-out;
}

.processContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10%;
    width: 100%;
    height: 100%;
}

.contentHidden{
    display: none;
}

.progressHidden{
    display: none;
}

.contentShow{
    display: flex;
}

/*progress*/
.progressContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
    position: absolute;
    bottom: 43px;
    width: 43%;
}

.progressContent .progress{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    width: 100%;
}

.progress .barContainer{
    width: 100%;
    height: 5px;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.135);
    overflow: hidden;
}

.progress .progressCount{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.barContainer .progressBar{
    width: 1%;
    height: 100%;
    background-color: white;
}

.progressContent .cancelButton{
    padding: 13px;
    border-radius: 33px;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.116);
}
/**/
.processContent .btnHeader{
    width: 100%;
}

.processContent .btnsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    width: 100%;
}

.btnsContainer .typeBtnContainer{
    display: flex;
    justify-content: center;
    gap: 33px;
    align-items: center;
    padding: 13px 23px;
    border-radius: 33px;
    font-size: .8rem;
    color: white;
    background-color: var(--black);
}

.typeBtnContainer span{
    font-weight: bold;
}

.typeBtnContainer div label{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.345);
}

.typeBtnContainer .inputFile{
    display: none;
}

.btnsContainer .camButton{
    width: 43px;
    height: 43px;
    outline: 13px solid rgba(255, 255, 255, 0.16);
    border-radius: 50%;
    background-color: white;
}

/*cowRegister.html*/
.cowRegisContainer,
.cowRegisterForm,
.cowRegisterContent{
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.cowRegisContainer{
    height: 100vh;
}

.cowRegisterForm{
    gap: 143px;
    height: 80%;
}

.cowRegisterContent{
    gap: 43px;
    align-items: center;
    width: 100%;
}

.cowPic .picLabel .picBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 73px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(179, 179, 179);
}

.picLabel .picBox img{
    width: 63%;
}

.cowPic .picInput{
    display: none;
}

.cowRegisterContent .infoBox{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
}

.infoBox h1{
    font-size: 1.3rem;
}

.infoBox input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #bdbdbd;
    font-size: 1.2rem;
    color: var(--gray);
}

.cowRegisterContent .resultBox{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    padding: 13px;
    width: 100%;
    
    border-radius: 10px;
    border-bottom: 11px solid var(--gray);
    font-size: .4rem;
    text-decoration: none;
    color: var(--black);
    background-color: white;
    box-shadow: 0px 4px 13px rgba(0, 98, 119, 0.1);
}

.resultBox .perGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 4px solid #FF5454;
    border-radius: 50%;
    align-self: center;
    font-size: .93rem;
    font-weight: 600;
}

.cowRegisterForm .saveCowBtn{
    padding: 23px;
    width: 100%;
    border-radius: 13px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: var(--blue);
}

.imgIconHidden{
    display: none;
}

.imgRotated{
    width: 100%;
    height: 100%;
}

.cowRegisterBody{
    position: relative;
}

#overlay{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 123px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 33px 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.752);
    z-index: 777;
}

#overlay .editBtns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 233px;
    align-items: center;
    width: 100%;
}

#overlay .editBtns button{
    font-weight: bold;
    color: white;
}

#overlay .imgBtnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#overlay .imgBtnBox .rttBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 33px;
    bottom: 33px;
    padding: 13px;
    border-radius: 50%;
    background: rgba(113, 113, 113, 0.67);
}

#imgRotated{
    width: 110%;
}