<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <section id="analise">
        <div id="icon-analise">
            <span class = "icon-menu-analise"></span>
            <span class = "icon-boe-pesquisa"></span>
        </div>
        <div id="button-filtro">
            <button id="button-positivo">Casos positivos</button>
            <button id="button-tudo">Tudo</button>
        </div>
        <div id="button-icon-filtro">
            <p>Filtros</p>
            <span class = "icon-filters"></span>
        </div>
        <div id="lista-card-historico">
        <div id="card-historico">
            <img src="./assets/images/foto-vaca.jpg">
            <div id="card-model">
                <h1>AI203</h1>
                <div id="status-tratamento">
                    <button id="button-status"></button>
                    <p>Em tratamento</p>   
                </div>
                   
            </div>
            <div id="card-model-trat">
                <p>Mimosa</p>
                <p>20%</p>
            </div>
            
        </div>
    </div>

    </section>
    <footer>      
        <div id="menu-footer">
            <span class = "icon-home"></span>
            <span class = "icon-plus"></span>
            <span class = "icon-cow"></span>
        </div>

    </footer>
    
</body>
</html>