<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Cow Register</title>
</head>
<body class="cowRegisterBody">
    <div id="overlay" style="display: none;">
        <div class="editBtns">
            <button>
                <img src="./assets/images/xb.svg" alt="">
            </button>
            <button onclick="chooseImage()">Usar foto</button>
        </div>

        <div class="imgBtnBox">
            <div class="imageContainer">
                <img id="selected-image">
            </div>
            <button class="rttBtn" onclick="rotateImage()">
                <img src="./assets/images/rotate.svg" alt="">
            </button>
        </div>
    </div>

    <div class="container cowRegisContainer">
        <form id="cowRegisterForm" class="cowRegisterForm" enctype="multipart/form-data">
            <div class="cowRegisterContent">
                <div class="choosePicBox">
                    <div class="cowPic">
                        <label for="picInput" class="picLabel" onclick="clickLabel()">
                            <div class="picBox">
                                <img src="./assets/images/image.svg" alt="" id="imgIcon">
                                <img alt="" id="imgRotated" style="display: none;">
                            </div>
                        </label>
                        <input type="file" name="picInput" id="picInput" class="picInput">
                    </div>
                    <i class="uploadIcon">
                        <img src="" alt="">
                    </i>
                </div>
                <div class="infoBox">
                    <h1 class="cowId">AI0234</h1>
                    <input type="text" value="Nome" name="cowName" id="cowName" class="cowNameInput">
                </div>
                <div class="resultBox">
                    <div class="perGrafico">90%</div>
                    <h1>de chance de infecção</h1>
                    <i class="dropdownIcon">
                        <img src="./assets/images/chevron-down.svg" alt="">
                    </i>
                </div>
            </div>
            <button class="saveCowBtn">
                Salvar análise
            </button>
        </form>
    </div>
    <script src="./assets/js/cowRegister.js"></script>
</body>
</html>