<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Edit profile</title>
</head>
<body>
    <form class="container editProfileContainer updateForm">
        <button type="button" class="backBtn">
            <img src="./assets/images/arrow-left.svg" alt="arrow back icon">
        </button>

        <div class="headerTxtBox">
            <h1>Editar perfil</h1>
            <p>As alterações feitas na sua conta são salvas automaticamente.</p>
        </div>

        <div class="inputBox">
            <label for="">
                Nome
                <i>
                    <img src="./assets/images/user2.svg" alt="sec user icon">
                </i>
            </label>

            <input type="text" name="nameInput" class="dataInput" id="nome"/>
        </div>
        <div class="inputBox">
            <label for="">
                E-mail
                <i>
                    <img src="./assets/images/email.svg" alt="email icon">
                </i>
            </label>

            <input type="email" name="emailInput" class="dataInput" id="email"/>
        </div>

        <div class="passBox">
            <label for="">
                Alterar a senha
                <i>
                    <img src="./assets/images/key.svg" alt="password icon">
                </i>
            </label>
            <input type="password" name="passInput" class="passInput" id="password" />
            <button type="submit" class="updateBtn">Salvar alterações</button>
        </div>

    </form>
    <script src="./assets/js/app.js" type="text/javascript"></script>
    <script src="./assets/js/update.js"></script>
</body>
</html>