<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <section id="menu">
        <div id="icon-menu">
            <span class = "icon-menu-lateral"></span>
            <span class = "icon-boe-menu"></span>
        </div>
        <div id="title-menu">
            <h1>Olá,</h1>
            <p>Nayara</p>
        </div>
        
        <div id="menu-estatisticas">
            <div id="menu-total">
                <h1>70</h1>
                <p>Registrados</p>
            </div>
            <div id="menu-positivos">
                <h1>30%</h1>
                <p>Casos positivos</p>
            </div>
        </div>
        <div id="menu-grafico">
            <h1>Gráfico geral</h1>
            <img src="assets/images/grafico.png" alt="">
        </div>
        
    </section>
    <footer>
        <div id="menu-footer">
            <a class = "icon-home"></a>
            <a href="#" class = "icon-plus"></a>
            <a href="./cowList.html" class = "icon-cow"></a>
        </div>
    </footer>
</body>
</html>