<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/menu.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="hiddenMenu">
        <i class="closeMenuBtn">
            <img src="./assets/images/close.svg" alt="close icon">
        </i>

        <ul>
            <li>
                <a href="./editProfile.html">
                    <i>
                        <img src="./assets/images/user.svg" alt="user icon">
                    </i>
                    Eitar perfil
                </a>
            </li>
            <li>
                <a href="">
                    <i>
                        <img src="./assets/images/help-circle.svg" alt="support icon">
                    </i>
                    Suporte
                </a>
            </li>
            <li>
                <a href="">
                    <i>
                        <img src="./assets/images/settings.svg" alt="settings icon">
                    </i>
                    Configurações
                </a>
            </li>
        </ul>

        <a href="" class="exitBtn">
            <i>
                <img src="./assets/images/log-out.svg" alt="logout icon">
            </i>
            Sair
        </a>
    </div>
    <section id="menu">
        <div id="icon-menu">
            <i class="hiddenMenuBtn">
                <img src="./assets/images/menuIcon.svg" alt="menu icon">
            </i>
            <span class = "icon-boe-menu"></span>
        </div>
        <div id="title-menu">
            <h1>Olá,</h1>
            <p>Nayara</p>
        </div>
        
        <div id="menu-estatisticas">
            <div id="menu-total">
                <h1>70</h1>
                <p>Registrados</p>
            </div>
            <div id="menu-positivos">
                <h1>30%</h1>
                <p>Casos positivos</p>
            </div>
        </div>
        <div id="menu-grafico">
            <h1>Gráfico geral</h1>
            <img src="assets/images/grafico.png" alt="">
        </div>
        
    </section>
    <footer>
        <div id="menu-footer">
            <a class = "icon-home"></a>
            <a href="./processScreen.html" class = "icon-plus"></a>
            <a href="./cowList.html" class = "icon-cow"></a>
        </div>
    </footer>

    <script src="./assets/js/app.js" type="text/javascript"></script>
</body>
</html>