<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body class="posanaliseBody">
    <section id="posanalise">
        <img src="./assets/images/resultBg.png" alt="bg image" class="bgImg">
        <div class="ResultContent">
            <div id="resultado-analise">
                <div class="perGrafico">90%</div>
                <div id="text-resultado-analise">
                    <div>
                        <h1>Resultado</h1>
                        <p>Lorem ipsum, dolor sit amet</p>
                    </div>
                    <div>
                        <h1>Nível de infecção</h1>
                        <p>Lorem ipsum, dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="txtResult">
                <div class="resultTxtBox">
                    <div class="tituloBox">
                        <span class = "icon-complicacoes"></span>
                        <h1>Complicações</h1>
                    </div>           
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Sunt deleniti quasi quisquam ad soluta sit officiis veniam omnis sed consectetur!</p>
                </div>
                <div class="resultTxtBox">
                    <div class="tituloBox">
                    <span class = "icon-contaminacao"></span>
                    <h1>Fase de contaminação</h1>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Sunt deleniti quasi quisquam ad soluta sit officiis veniam omnis sed consectetur!</p>
                </div>
            </div>
        </div>
        <button id="button-cadastrar">Cadastrar Bovino</button>
    </section>

    <script src="./assets/js/posanalise.js"></script>
</body>
</html>