<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./assets/css/splash.css">
  <link rel="stylesheet" href="./assets/css/styles.css">
  <title>Boe - App</title>
</head>
<body>
  <div class="circle"></div>
  <div class="splashContainer">

    <div class="vectorContainer">
      <div class="line">
        <img src="./assets/images/b.svg" alt="b vector svg" class="vector"  id="vector1">
        <img src="./assets/images/o.svg" alt="o vector svg" class="vector" id="vector2">
        <img src="./assets/images/e.svg" alt="b vector svg" class="vector" id="vector3">
      </div>
      <div class="line firstLine">
        <img src="./assets/images/horn01.svg" alt="b vector svg" class="vector horn01" id="vector4">
        <img src="./assets/images/horn02.svg" alt="b vector svg" class="vector horn02" id="vector5">
      </div>
    </div>

    <span>
      ByOberon
    </span>
  </div>

  <script src="./assets/js/splash.js" type="text/javascript"></script>
  

</body>
</html>